

@media screen and (max-width: 1200px) {
#mega-menu-wrap-top_heder #mega-menu-top_heder > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-6#mega-menu-item-widget_sp_image-3,
#mega-menu-wrap-top_heder #mega-menu-top_heder > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-6#mega-menu-item-widget_sp_image-4 {
  width: 16.66667%;
}

  .carousel-caption {
    width: 50%;
  }
  .joinus-content {
	  margin-left: 0px;
	  padding-top: 20px;
	}
	#mini_poster_img {
		width: 236px;
		bottom: 0px;
	    left: -28px;
	}
	#mini_poster_img img {
		width: 200px;
	}
	.brand-content {
	    padding-right: 0px; 
	}
	#brand-block .display-1 {
	    font-size: 5.0rem;
	}

}


@media screen and (max-width: 992px) {
	.footer-menu {
	    margin-top: 10px;
	}
	.search-stores {
	    background-color: #f1f1ef;
	    padding: 10px;
	    margin-bottom: 10px;
	}
	.townfilter {
	    background-color: white;
	}
	.townfilter::-webkit-input-placeholder { color: #ccc; }
	.townfilter:-moz-placeholder { color: #ccc; }
	.townfilter::-moz-placeholder { color: #ccc; }
	.townfilter:-ms-input-placeholder { color: #ccc; }

	#mainlogo {
		float: none !important;
    	text-align: center;
	}
	.carousel-caption {
	    width: 85%;
	}
	  .carousel-caption h2 {
	    padding-bottom: 0;
	}
	#model-block img {
		width: 100%;
	}
	.model-col-text {
	    width: 100%;
	}
	.townfilter {
		max-width: 100%;
	}
	ul.mega-sub-menu li div {
	  padding-left: 0px;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
	    padding-left: 0px;
	}
} 

@media screen and (max-width: 768px) {
	#mainlogo img {
		width: 100px;
	}
	#mainlogo {
	    line-height: 60px;
	}
	.mobileon{display:block;}
	.mobileoff{display:none;}

	#header .container {
	    max-width: 100%;
	    padding: 0;
	}
	#header {
	    margin-bottom: 15px;
	}
	.container.container-slider {
		max-width: 100%;
	}
	.carousel-caption {
	    top: 5%;
	  }
	 #subscribe-block .btn-warning{
	     max-width: 150px;
   		 margin-top: 10px;
	}
	.mc4wp-response {
	    bottom: -75px;
	}
	#mini_poster_img {
	    width: 214px;
	    bottom: -91px;
	    left: 29px;
	    border: 7px solid #fff;
	}
	#collection-content-mobil {
	    padding-top: 122px;
	}
	.flickity-prev-next-button {
	    top: 35%;
	}

}

@media screen and (max-width: 544px) {
	h2 {
	    font-size: 1.4rem;
	}
	.carousel-caption {
	   /* top: 0;*/
	    top: 50%;
	    text-align: center;
	    padding-top: 4px;
	}
	.carousel-caption h2 {
	    font-size: 1.4rem;
	}
	#home-shema {
		text-align: center;
	}
	.mc4wp-response {
	    left: 8px;
	    bottom: -87px;
	}
	.collection-shema-title {
	    padding: 35px 0 10px 0;
	}
	#main-collection-block h1.display-1 {
		text-transform: uppercase;
    	font-size: 1.5rem;
	}
	#mini_poster_img {
	  	border: 5px solid #fff;
    	width: 140px;
    	bottom: -71px;
	}
	#mini_poster_img img {
	    width: 130px;
	}
	#brand-block .display-1 {
	    font-size: 4.0rem;
	}
	#shops-block h1.display-1 {
	    padding: 0;
	    font-size: 25px;
	}
}